<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body id="myapp">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
<% include header.ejs %>
</nav>
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a href="#services" class="btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
<% include contactUs.ejs%>
<% include footer.ejs %>
<%include script.ejs %>

</body>

</html>